:root {
    --bg-body : black;
    --bg-nav : #3b3838;
}


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-body);
    font-family: "poppins", sans-serif;
    color: #FFF;
}


header {
    position:sticky;
    top:0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
   
}

footer {
    font-family: "Oswald", sans-serif;
    color: #FFF;
    
}

nav {
    background-color: var(--bg-nav);
    height: 10vh;
    display:flex;
    /*al eje principal row*/
    justify-content: space-between;
    /*al eje secundario column*/
    align-items: center;
    padding: 0 50px;
    background-color: #3b3838;
}

#nav-links {
    display: flex;
    /*quitar los puntos de los li*/
    list-style: none;
    gap: 30px;
}


#nav-links li a {
    text-decoration: none; /*saco el subrayado*/
    color: inherit; /*saco el color violeta y fuerzo a que tome el color aplicado al resto del texto defin en el body*/
}

h2 {
    font-size: 3em; 
}

img {
    width: 10vw;
}

#banner {
    height: 85vh;
    /*estilos para la imagen de fondo de la seccion*/
    background-image: url(../img/banner-libros.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    }

#buscador {
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center; /*eje principal column (vertical)*/
    align-items: center;
}


#tendencias {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
.movies-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
*/




/*estilos seccion tendencias con grid*/

.book-item-img{
    height: 40px;
    width: 20px;
}

.book-item-detail {
    display:none;
}

.book-grid {
    height: 400px;
    display:grid;

    /*columnas y filas*/
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(2,180px);


    /*UBICACION DE LA GRILLA CON RESPECTO A LA ETIQUETA PADRE*/
   /* justify-content: center; EJE PRINCIPAL(FILA HORIZONTAL)*/
   /* align-content: center; EJE HORIZONTAL(COLUMNA VERTICAL)*/

    place-content: center; 

    /*UBICO LOS ITEMS CON RESPECTO A SU CELDA*/
   /* justify-items: center; EJE PRINCIPAL(FILA HORIZONTAL)*/
   /* align-items: center; EJE HORIZONTAL(COLUMNA VERTICAL)*/

    place-items: center;

    gap:28px;

}

#book1:hover{
    transform: scale(1.5);
}
#book2:hover{
    transform: scale(1.5);
}
#book3:hover{
    transform: scale(1.5);
}

#book4:hover{
    transform: scale(1.5);
}
#book5:hover{
    transform: scale(1.5);
}
#book6:hover{
    transform: scale(1.5);
}

/*
comentarios
*/