:root {
    --bg-body : #f6f0fc;
    --bg-nav : #8057a8;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-body);
    font-family: "Nunito", sans-serif;
    color: #371657;
}


header {
    position:sticky;
    top:0;
}

nav {
    background-color: var(--bg-nav);
    height: 15vh;
    display:flex;
    /*al eje principal row*/
    justify-content: space-between;
    /*al eje secundario column*/
    align-items: center;
    padding: 0 50px;
}

#nav-links {
    display: flex;
    /*quitar los puntos de los li*/
    list-style: none;
    gap: 30px;
}


#nav-links li a {
    text-decoration: none; /*saco el subrayado*/
    color: inherit; /*saco el color violeta y fuerzo a que tome el color aplicado al resto del texto defin en el body*/
}

h2 {
    font-size: 3em; 
}

img {
    width: 35vw;
}

#banner {
    height: 85vh;
    /*estilos para la imagen de fondo de la seccion*/
    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    }

#buscador {
    height: 10vh;
    display: flex;
    flex-direction: column;

    justify-content: center; /*eje principal column (vertical)*/
    align-items: center;
}


#tendencias {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
.movies-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
*/




/*estilos seccion tendencias con grid*/

.movie-item-img{
    height: 200px;
    width: 150px;
}

.movie-item-detail {
    display:none;
}

.books-grid {
    font-size: 1; /* Para eliminar el espacio entre elementos inline-block */
    text-align: center;
}

.movie-container {
    display: inline-block; 
    margin-right: 5px; 
    margin: 2.5px;
    vertical-align: top; 
}



.movie-item-detail {
    text-align: center; 
    font-size: 1;
}

.movie-container:hover{
    transform: scale(1.2);
    border: 2px solid #f6f0fc;
}

.movie-container {
    color: #f6f0fc;
    text-shadow: 0.1px 0.1px #272728;
    background-color: #371657;
    border-radius: 10px;
    padding: 10px;
    width: 200px; 
    height: 400px;
}

.movie-container {
    transition: transform 0.25s ease; 
}
